*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-size: medium;
    color: whitesmoke;
}

.column{
    float: left;
    width: 33.33%;
    height: 50vh;
    padding: 10px;
}

/* Clear floats after the columns*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

.A {
    background-color: blue;
}

.B{
    background-color: chartreuse;
}

.C{
    background-color: darkgoldenrod;
}